<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <!-- SweetAlert2 스타일 시트와 스크립트 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
</head>
<body>

<h2>회원가입</h2>

<!-- 회원가입 결과 메시지를 표시하는 스크립트 -->
<script th:if="${message}">
    Swal.fire({
        icon: 'info',
        title: /*[[${message}]]*/,
        showConfirmButton: false,
        timer: 1500
    });
</script>

<form action="/joinProc" method="post">
    <label for="username">아이디:</label>
    <input type="text" id="username" name="username" required>

    <br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>

    <br>

    <button type="submit">가입하기</button>
</form>

</body>
</html>
