* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.login {
  width: 100%;
  height: 100%;
  background-color: #4696e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #d1e5f9;
  background-image: url("images/overlay.png"), url("images/pattern-size1.svg");
  background-position: top left, center center;
  background-attachment: fixed, fixed;
  background-size: auto, cover;
}

h2 {
  color: rgb(12, 6, 5);
  font-size: 2em;
}


.login_id {
  margin-top: 20px;
  width: 80%;
}

.login_id input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_pw {
  margin-top: 20px;
  width: 80%;
}

.login_pw input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}


.submit {
  margin-top: 50px;
  width: 80%;
}
.submit input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  background: #414141;
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
}
